### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [69]:
# Dependencies and Setup
from operator import index
import pandas as pd

# File to Load (Remember to Change These)
from hypothesis.extra.pandas import columns
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [70]:
# Calculate the total number of schools
total_schools = school_data['school_name'].nunique()
total_schools

15

In [71]:
#total students
total_students = student_data["Student ID"].nunique()
# another way school_data['size'].sum()
total_students

39170

In [72]:
# * Calculate the total budget#
total_budget = school_data['budget'].sum()
total_budget

24649428

In [73]:
# * Calculate the average math score #
avg_math_score = round(school_data_complete['math_score'].mean(),2)
avg_math_score

78.99

In [74]:
# * Calculate the average reading score#
avg_read_score = round(school_data_complete['reading_score'].mean(),2)
avg_read_score

81.88

In [75]:
# Calculate the percentage of students with a passing math score (70 or greater)
stupassmath_count = school_data_complete[school_data_complete.math_score >=70].count()["student_name"]
stuprcntpassmathscore = round((stupassmath_count/total_students)*100,2)
stuprcntpassmathscore

74.98

In [76]:
# Calculate the percentage of students with a passing reading score (70 or greater)
stupassread_count = school_data_complete[school_data_complete.reading_score >=70].count()["student_name"]
stuprcntpassreadscore = round((stupassread_count/total_students)*100,2)
stuprcntpassreadscore

85.81

In [77]:
# Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
overall_passer_rating = round((stuprcntpassmathscore+stuprcntpassreadscore)/2,2)
overall_passer_rating

80.4

In [78]:
# District Summary Overview Table
district_Summary_df = pd.DataFrame({"Total Schools":[total_schools],
                      "Total Students":[total_students],
                      "Total Budget":[total_budget],
                      "Average Math Score":[avg_math_score],
                      'Average Reading Score':[avg_read_score],
                      "% Passing Math":[stuprcntpassmathscore],
                      "% Passing Reading":[stuprcntpassreadscore],
                      "Overall Passing rate":[overall_passer_rating]})
district_Summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing rate
0,15,39170,24649428,78.99,81.88,74.98,85.81,80.4

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [79]:
# school type - it is being indexed on school name so it is being displayed as well
school_type = school_data.set_index(['school_name'])['type']
school_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [80]:
#   * Total Students
total_students_byschool = school_data_complete['school_name'].value_counts()
total_students_byschool

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [81]:
#   * Total School Budget
budget_by_school = school_data.set_index(['school_name'])['budget']
budget_by_school

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [82]:
# Create a dataframe for the above three values
df_schoolsummary = pd.concat([school_type,total_students_byschool,budget_by_school],axis=1)
#rename the column for student count
df_schoolsummary.rename(columns={'school_name':'student_count'},inplace=True)

In [83]:
#   * Per Student Budget by School
df_schoolsummary['student_budget'] = pd.Series(df_schoolsummary['budget']/df_schoolsummary['student_count'])
df_schoolsummary['student_budget']
stu_budget_list = df_schoolsummary['student_budget'].to_list()

In [84]:
#   * Average Math Score by school
df_schoolsummary['average_math_score'] = round(school_data_complete.groupby(["school_name"]).mean()["math_score"],2)
df_schoolsummary['average_math_score']

Huang High School        76.63
Figueroa High School     76.71
Shelton High School      83.36
Hernandez High School    77.29
Griffin High School      83.35
Wilson High School       83.27
Cabrera High School      83.06
Bailey High School       77.05
Holden High School       83.80
Pena High School         83.84
Wright High School       83.68
Rodriguez High School    76.84
Johnson High School      77.07
Ford High School         77.10
Thomas High School       83.42
Name: average_math_score, dtype: float64

In [85]:
#   * Average Reading Score
df_schoolsummary['average_read_score'] = round(school_data_complete.groupby(["school_name"]).mean()["reading_score"],2)
df_schoolsummary['average_read_score']

Huang High School        81.18
Figueroa High School     81.16
Shelton High School      83.73
Hernandez High School    80.93
Griffin High School      83.82
Wilson High School       83.99
Cabrera High School      83.98
Bailey High School       81.03
Holden High School       83.81
Pena High School         84.04
Wright High School       83.96
Rodriguez High School    80.74
Johnson High School      80.97
Ford High School         80.75
Thomas High School       83.85
Name: average_read_score, dtype: float64

In [86]:
# Calculate the percentage of students with a passing math score (70 or greater)
#first create a dataframe which only contains students who got 70 or greater in math
df_math70 = school_data_complete[school_data_complete["math_score"]>=70]
#now group it by school name
df_schoolsummary['% Passing Math'] = round(((df_math70.groupby(["school_name"]).count()["student_name"])/df_schoolsummary['student_count'])*100,2)
df_schoolsummary['% Passing Math']

Huang High School        65.68
Figueroa High School     65.99
Shelton High School      93.87
Hernandez High School    66.75
Griffin High School      93.39
Wilson High School       93.87
Cabrera High School      94.13
Bailey High School       66.68
Holden High School       92.51
Pena High School         94.59
Wright High School       93.33
Rodriguez High School    66.37
Johnson High School      66.06
Ford High School         68.31
Thomas High School       93.27
Name: % Passing Math, dtype: float64

In [87]:
# Calculate the percentage of students with a passing reading score (70 or greater)
#first create a dataframe which only contains students who got 70 or greater in reading
df_read70 = school_data_complete[school_data_complete["reading_score"]>=70]
df_schoolsummary['% Passing Reading'] = round(((df_read70.groupby(["school_name"]).count()["student_name"])/df_schoolsummary['student_count'])*100,2)
df_schoolsummary['% Passing Reading']

Huang High School        81.32
Figueroa High School     80.74
Shelton High School      95.85
Hernandez High School    80.86
Griffin High School      97.14
Wilson High School       96.54
Cabrera High School      97.04
Bailey High School       81.93
Holden High School       96.25
Pena High School         95.95
Wright High School       96.61
Rodriguez High School    80.22
Johnson High School      81.22
Ford High School         79.30
Thomas High School       97.31
Name: % Passing Reading, dtype: float64

In [88]:
#   * Overall Passing Rate (Average of the above two)
df_schoolsummary['Overall Passing Rate'] = round((df_schoolsummary['% Passing Math'] + df_schoolsummary['% Passing Reading'])/2,2)
df_schoolsummary['Overall Passing Rate']

Huang High School        73.50
Figueroa High School     73.36
Shelton High School      94.86
Hernandez High School    73.81
Griffin High School      95.26
Wilson High School       95.21
Cabrera High School      95.58
Bailey High School       74.31
Holden High School       94.38
Pena High School         95.27
Wright High School       94.97
Rodriguez High School    73.30
Johnson High School      73.64
Ford High School         73.81
Thomas High School       95.29
Name: Overall Passing Rate, dtype: float64

In [89]:
# * Create a dataframe to hold the above results : df_schoolsummary
# Format the dollar values before display
df_schoolsummary["budget"] = df_schoolsummary["budget"].map("${:,.2f}".format)
df_schoolsummary["student_budget"] = df_schoolsummary["student_budget"].map("${:,.2f}".format)
# School Summary Overview Table
df_schoolsummary

,type,student_count,budget,student_budget,average_math_score,average_read_score,% Passing Math,% Passing Reading,Overall Passing Rate
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,73.50
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,73.36
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.36,83.73,93.87,95.85,94.86
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,66.75,80.86,73.81
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.39,97.14,95.26
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,95.21
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,95.58
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.05,81.03,66.68,81.93,74.31
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51,96.25,94.38
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,95.27
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.68,83.96,93.33,96.61,94.97
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,73.30
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,73.64
Ford High School,District,2739,"$1,763,916.00",$644.00,77.10,80.75,68.31,79.30,73.81
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,95.29

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [90]:
### Top Performing Schools (By Passing Rate)
#* Create a table that highlights the top 5 performing schools based on Overall Passing Rate. Include all of the same metrics as above.
top_five_schools = df_schoolsummary.sort_values(["Overall Passing Rate"],ascending = False).head(5)
top_five_schools

,type,student_count,budget,student_budget,average_math_score,average_read_score,% Passing Math,% Passing Reading,Overall Passing Rate
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,95.58
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,95.29
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,95.27
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.39,97.14,95.26
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,95.21

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [91]:
### Bottom Performing Schools (By Passing Rate)
#* Create a table that highlights the bottom 5 performing schools based on Overall Passing Rate. Include all of the same metrics as above.
bottom_five_schools = df_schoolsummary.sort_values(["Overall Passing Rate"],ascending = False).tail(5)
bottom_five_schools

,type,student_count,budget,student_budget,average_math_score,average_read_score,% Passing Math,% Passing Reading,Overall Passing Rate
Ford High School,District,2739,"$1,763,916.00",$644.00,77.10,80.75,68.31,79.30,73.81
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,73.64
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,73.50
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,73.36
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,73.30

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [99]:
# * Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school
avg_math_score_by_grade = round(school_data_complete.groupby(["grade"]).mean()["math_score"],2)
avg_math_score_by_grade

grade
10th    78.94
11th    79.08
12th    78.99
9th     78.94
Name: math_score, dtype: float64

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [93]:
# * Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
avg_reading_score_by_grade = round(school_data_complete.groupby(["grade"]).mean()["reading_score"],2)
avg_reading_score_by_grade

grade
10th    81.87
11th    81.89
12th    81.82
9th     81.91
Name: reading_score, dtype: float64

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [94]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [95]:
print(stu_budget_list)
df_schoolsummary["Spending Ranges (Per Student)"] = pd.cut(stu_budget_list,spending_bins,labels=group_names)

### calculate scores by spending range...
avg_math_score_spending = round(df_schoolsummary.groupby(["Spending Ranges (Per Student)"]).mean()["average_math_score"],2)
avg_reading_score_spending = round(df_schoolsummary.groupby(["Spending Ranges (Per Student)"]).mean()["average_read_score"],2)
students_passing_math_spending = round(df_schoolsummary.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"],2)
students_passing_reading_spending = round(df_schoolsummary.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"],2)
overall_pass_rate_spending = (students_passing_math_spending + students_passing_reading_spending)/2
# 
scores_based_spending = pd.DataFrame({"Average Math Score (Spending)":avg_math_score_spending,
                                      "Average Reading Score (Spending)":avg_reading_score_spending,
                                      "% Passing Math (Spending)":students_passing_math_spending,
                                      "%Passing Reading (Spending)":students_passing_reading_spending ,
                                      "Overall Passing rate (Spending)":overall_pass_rate_spending})

# #Minor data Munging
scores_based_spending = scores_based_spending[["Average Math Score (Spending)","Average Reading Score (Spending)","% Passing Math (Spending)",
                                               "%Passing Reading (Spending)","Overall Passing rate (Spending)"]]
                                              
scores_based_spending

[655.0, 639.0, 600.0, 652.0, 625.0, 578.0, 582.0, 628.0, 581.0, 609.0, 583.0, 637.0, 650.0, 644.0, 638.0]

,Average Math Score (Spending),Average Reading Score (Spending),% Passing Math (Spending),%Passing Reading (Spending),Overall Passing rate (Spending)
Spending Ranges (Per Student),,,,,
<$585,83.45,83.94,93.46,96.61,95.035
$585-615,83.60,83.88,94.23,95.90,95.065
$615-645,79.08,81.89,75.67,86.11,80.890
$645-675,77.00,81.03,66.16,81.13,73.645

## Scores by School Size

* Perform the same operations as above, based on school size.

In [96]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [97]:
df_schoolsummary["Size of School"] = pd.cut(df_schoolsummary['student_count'],size_bins,labels=group_names)
# ### calculate scores by school size now....
# 
avg_math_score_school_size = round(df_schoolsummary.groupby(["Size of School"]).mean()["average_math_score"],2)
avg_reading_score_school_size = round(df_schoolsummary.groupby(["Size of School"]).mean()["average_read_score"],2)
students_passing_math_school_size = round(df_schoolsummary.groupby(["Size of School"]).mean()["% Passing Math"],2)
students_passing_reading_school_size = round(df_schoolsummary.groupby(["Size of School"]).mean()["% Passing Reading"],2)
overall_pass_rate_school_size = (students_passing_math_school_size + students_passing_reading_school_size)/2
# 
scores_based_school_size = pd.DataFrame({"Average Math Score (School Size)":avg_math_score_school_size,
                                      "Average Reading Score (School Size)":avg_reading_score_school_size,
                                      "% Passing Math (School Size)":students_passing_math_school_size,
                                      "%Passing Reading (School Size)":students_passing_reading_school_size ,
                                      "Overall Passing rate (School Size)":overall_pass_rate_school_size})
 
# #display the dataframe
scores_based_school_size

,Average Math Score (School Size),Average Reading Score (School Size),% Passing Math (School Size),%Passing Reading (School Size),Overall Passing rate (School Size)
Size of School,,,,,
Small (<1000),83.82,83.93,93.55,96.10,94.825
Medium (1000-2000),83.37,83.87,93.60,96.79,95.195
Large (2000-5000),77.74,81.34,69.96,82.77,76.365

## Scores by School Type

* Perform the same operations as above, based on school type.

In [98]:
avg_math_score_school_type = round(df_schoolsummary.groupby(["type"]).mean()["average_math_score"],2)
avg_reading_score_school_type = round(df_schoolsummary.groupby(["type"]).mean()["average_read_score"],2)
students_passing_math_school_type = round(df_schoolsummary.groupby(["type"]).mean()["% Passing Math"],2)
students_passing_reading_school_type = round(df_schoolsummary.groupby(["type"]).mean()["% Passing Reading"],2)
overall_pass_rate_school_type = (students_passing_math_school_type + students_passing_reading_school_type)/2
# 
scores_based_school_type = pd.DataFrame({"Average Math Score (School Type)":avg_math_score_school_type,
                                      "Average Reading Score (School Type)":avg_reading_score_school_type,
                                      "% Passing Math (School Type)":students_passing_math_school_type,
                                      "%Passing Reading (School Type)":students_passing_reading_school_type ,
                                      "Overall Passing rate (School Type)":overall_pass_rate_school_type})

scores_based_school_type

,Average Math Score (School Type),Average Reading Score (School Type),% Passing Math (School Type),%Passing Reading (School Type),Overall Passing rate (School Type)
type,,,,,
Charter,83.47,83.90,93.62,96.59,95.105
District,76.96,80.97,66.55,80.80,73.675